<div class="dash-header">
  <div class="main-container">
    <div class="logo">
      <img src="../../assets/images/logo.png">
    </div>
    <div class="menu">
      <ol>
        <li class="active">Summaries</li>
        <li>Financial Dashboard</li>
        <li>CMS Quality Improvement</li>
      </ol>      
    </div>
    <div class="seperator">
    </div>
    <div class="right-bar">
      <div class="notification">
          <img src="../../assets/images/notification.png">
      </div>
      <div class="avatar">
          <img src="../../assets/images/avatar-dash-header.png">
      </div>
      <div class="users">
        <select class="settings">
          <option value="user1">Kat Kuz</option>
          <option value="user2">Sam</option>
          <option value="user3">Mercedes</option>
          <option value="user4">Audis</option>
        </select>
      </div>
    </div>
  </div>
</div>