<div class="summaries">
  <div class="header">
    <div class="search-bar">
      <input class="search-box" type="text" placeholder="Search this episode list">
      <div class="episode-list">
        <div>List:</div>
        <select class="episode">
          <option value="item">Episode List Name</option>
          <option value="item">Episode List Name1</option>
          <option value="item">Episode List Name2</option>
        </select>
        <!-- <mat-form-field>
          <mat-select placeholder="Favorite food">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
      <div class="add-btn">
        <i class="fa fa-plus-circle"></i>
        <div>New Episode</div>
      </div>
    </div>
  </div>

  <div class="table-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="risk" class="risk">
        <mat-header-cell *matHeaderCellDef mat-sort-header> RISK </mat-header-cell>
        <mat-cell *matCellDef="let element" [class]="'risk level' + element.risk"> &nbsp; </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name" class="patient-name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> PATIENT NAME </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="no_account" class="account-no">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ACCOUNT NO. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.no_account}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="episode_type" class="episode-type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> EPISODE TYPE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.episode_type}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_visit" class="visited-date">
        <mat-header-cell *matHeaderCellDef mat-sort-header> LAST VISIT </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.last_visit | date: 'mediumDate' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_precedure" class="last-procedure">
        <mat-header-cell *matHeaderCellDef mat-sort-header> LAST PRECEDURE </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.last_precedure}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="last_location" class="last-location">
        <mat-header-cell *matHeaderCellDef mat-sort-header> LAST LOCATION </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.last_location}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="last_status" class="last-status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> LAST STATUS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.last_status}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ccd_status" class="ccd-status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> CCD STATUS </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ccd_status}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)"></mat-row>
    </mat-table>
  </div>
</div>

<app-chat></app-chat>
<app-contact-list></app-contact-list>