<p>
  chat works!
</p>

<div class="chat-box">
  <div class="title-bar" (click)="openChat()">
    <div class="user-name">Susan Cannon</div>
    <div class="close-btn" (click)="closeChat($event)">
      <i class="fa fa-close"></i>
    </div>
  </div>
  <div class="main-container" #chatcontainer>
    <div class="history-area">
      asdlkfjalsd;kfjal;sdaasdfasdfasdfasdfasdf
      sadf;lasjdfl;asdjfladsasdfasdfasdfdsafsadf
      asdfj;lasdjfl;asdfjasdfjlsadfjlkasdjflas;dfj;lsadfsal;dkfjl
      asdlkfjalsd;kfjal;sdaasdfasdfasdfasdfasdf
      sadf;lasjdfl;asdjfladsasdfasdfasdfdsafsadf
      asdfj;lasdjfl;asdfjasdfjlsadfjlkasdjflas;dfj;lsadfsal;dkfjl
      asdlkfjalsd;kfjal;sdaasdfasdfasdfasdfasdf
      sadf;lasjdfl;asdjfladsasdfasdfasdfdsafsadf
      asdfj;lasdjfl;asdfjasdfjlsadfjlkasdjflas;dfj;lsadfsal;dkfjl
      asdlkfjalsd;kfjal;sdaasdfasdfasdfasdfasdf
      sadf;lasjdfl;asdjfladsasdfasdfasdfdsafsadf
      asdfj;lasdjfl;asdfjasdfjlsadfjlkasdjflas;dfj;lsadfsal;dkfjl
      asdlkfjalsd;kfjal;sdaasdfasdfasdfasdfasdf
      sadf;lasjdfl;asdjfladsasdfasdfasdfdsafsadf
      asdfj;lasdjfl;asdfjasdfjlsadfjlkasdjflas;dfj;lsadfsal;dkfjl
      asdlkfjalsd;kfjal;sdaasdfasdfasdfasdfasdf
      sadf;lasjdfl;asdjfladsasdfasdfasdfdsafsadf
      asdfj;lasdjfl;asdfjasdfjlsadfjlkasdjflas;dfj;lsadfsal;dkfjl
      asdlkfjalsd;kfjal;sdaasdfasdfasdfasdfasdf
      sadf;lasjdfl;asdjfladsasdfasdfasdfdsafsadf
      asdfj;lasdjfl;asdfjasdfjlsadfjlkasdjflas;dfj;lsadfsal;dkfjl

    </div>
    <div class="input-area">
      <textarea resize="false" placeholder="Enter your message"></textarea>
    </div>
  </div>
</div>