<div class="chat-box">
  <div class="title-bar" (click)="openChat()">
    <div class="user-name">Susan Cannon</div>
    <div class="close-btn" (click)="closeChat($event)">
      <i class="fa fa-close"></i>
    </div>
  </div>
  <div class="main-container" #chatcontainer>
    <div class="history-area">
      <div *ngFor="let chat of chatdata">
        <div *ngIf="chat.man" class="row">
          <div class="photo">
            <img src="../../../../../assets/images/avatar-dash-header.png">
          </div>
          <div class="chat man">{{ chat.man }}</div>
        </div>
        <div *ngIf="chat.you" class="chat you">
            {{ chat.you }}
        </div>
      </div>
    </div>
    <div class="input-area">
      <textarea resize="false" placeholder="Enter your message" (keydown.enter)="enterChat(item.value)" #item></textarea>
    </div>
  </div>
</div>