.login-page {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5f6fa;
  
  .logo {
    padding: 120px;

    img {
      height: 58.66px;
      width: 318.94px;
    }
  }

  .mat-card {
    width: 770px;
    background-color: white;
    box-shadow: none;
    padding: 0;
    margin: auto;

    .sign-in-form {
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .header {
        margin-top: 70px;
        margin-bottom: 60px;
        color: #141928;
        font-family: 'proxima_novaregular';
        font-size: 28px;
        font-weight: 600;
        text-align: center;
      }

      .form-group {
        width: 570px;
        margin: auto;
        margin-bottom: 10px;
        
        .row-group {
          display: flex;
          align-items: center;
          border: 1px #f0f0f1 solid;
          border-radius: 2px;
          margin: auto;
          margin-bottom: 10px;
          
          .label-control {
            text-transform: uppercase;
            margin: 23px 0px 23px 20px;
            font-family: 'proxima_novaregular';
            font-size: 12px;
            color: #A8A8AF;
          }
  
          input {
            font-family: 'proxima_novabold';
            color: #141928;
            letter-spacing: normal;
            border: none;
            padding-bottom: 8px;

            &.ng-invalid {
  
            }
          }
        }

        &.password-form-field {

          .row-group {

            input {
              letter-spacing: 8px;
              font-size: 27px;
              border: none;
              padding-bottom: 12px;
            }
          }
        }

        .form-field-error {
          text-align: left;
          color: #f44336;
          font-size: 13px;
          margin-left: 23px;
        }
      }
  
      .login-error-message {
        height: 30px;
        color: #f44336;
        text-align: center;
      }
  
      .action {
        text-align: center;
        margin-bottom: 66px;

        button {
          width: 163px;
          height: 44px;
          text-transform: uppercase;
          border-radius: 2px;
          border: none;
          font-family: 'proxima_novaregular';
          font-size: 12px;
          margin: 20px 5px;
          
          &.login {
            color: white;
            background-color: #69A9CC;
          }

          &.register {
            background-color: #F5F6FA;
            color: #69A9CC;
          }
        }
      }
    }
  }

  .footer {
    color: rgba(20,25,40,0.2);
    padding: 120px;
    background-color: #f5f6fa;
    font-family: 'proxima_novaregular';
    font-size: 14px;
  }
}
