<div class="container" >
  <div class="contact-list">
    <div class="header">
      <div class="title">Message</div>
      <div class="add-button" (click)="openModal($event)">
        <img src="../../../../assets/images/addUser.png">
      </div>
      <div class="mini-button">
        <div></div>
      </div>
    </div>
    <div class="main-container">
      <div class="contact-item" (click)="clickContactItem()">
        <div class="photo">
          <img src="../../../../assets/images/avatar-dash-header.png">
        </div>
        <div class="name">
          Alex Walker
        </div>
        <div class="dot">
          <div></div>
        </div>
      </div> 
      <div class="contact-item">
        <div class="photo">
          <img src="../../../../assets/images/avatar-dash-header.png">
        </div>
        <div class="name">
          Alex Walker
        </div>
        <div class="dot">
          <div></div>
        </div>
      </div>
      <div class="contact-item">
        <div class="photo">
          <img src="../../../../assets/images/avatar-dash-header.png">
        </div>
        <div class="name">
          Alex Walker
        </div>
        <div class="dot">
          <div></div>
        </div>
      </div> 
    </div>
  </div>

  <div class="chatContainer" >
    <ng-container *ngFor="let chatdata of chatText; let idx = index">
      <app-chat [chatdata]="chatdata" (chatData)="getChat($event)"></app-chat>
    </ng-container>
  </div>
</div>
