.details {
  font-family: 'proxima_novaregular';
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding-top: 110px;
  width: 100vw;
  max-width: 1680px;
  margin: 0 auto;

  .row {
    margin: 0 0 20px 0;

    label {
      margin-bottom: 0;
      
      &.field {
        color: #A8A8AF;
        flex: 1;
        text-align: left;
        letter-spacing: 0.5px;
        line-height: 20px;
        font-weight: 500;
      }

      &.value {
        color: #141928;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 20px;
        font-weight: 600;
      }
    }
  }

  .header {
    display: flex;
    width: 100vw;
    max-width: 1680px;
    height: 90px;
    background-color: white;
    box-shadow: 0px -9px 10px -4px white;
    padding: 18px 55px 18px 55px;
    margin: 0 auto 30px auto;
    border-bottom: 1px solid #EBEBEC; 
    position: fixed;

    .back-button {
      height: 44px;
      width: 134px;
      border-radius: 2px;	
      background-color: #E1E2EB;
      color: #7A7D89;
      border: none;

      label {
        margin: 0 0 0 23px;
        letter-spacing: 0.5px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      margin-left: 366px;
      margin-right: auto;
      margin-bottom: 10px;
      font-size: 24px;
      color: #141928;
    }
    
    .add-btn {
      display: flex;
      align-items: center;
      font-size: 12px;
      font-weight: 400;
      padding-left: 10px;
      padding-right: 24px;
      text-transform: uppercase;
      height: 44px;	
      width: 163px;	
      border-radius: 2px;
      border: none;	
      background-color: #69A9CC;
      color: white;
      margin-left: 10px;

      span{
        height: 26px;	
        width: 26px;	
        border-radius: 18px;	
        background-color: #3A799C;
        margin-right: auto;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 12px;
          left: 7px;
          height: 2px;
          width: 12px;
          background-color: white;
        }

        &::after {
          content: '';
          position: absolute;
          top: 7px;
          left: 12px;
          height: 12px;
          width: 2px;
          background-color: white;
        }
      }
    }

    .edit-btn {
      height: 44px;	
      width: 163px;	
      border-radius: 2px;	
      border: 1px solid #F0F0F1;
      margin-left: 15px;

      label {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 0.5px;
        color: #141928;
      }

      i {
        color: #69A9CC;
        margin-right: 23px;
      }
    }
  }

  .main-container {
    width: 100%;
    margin: auto;
    padding: 0 55px;
    display: flex;
    padding-top: 120px;

    .left-side{
      width: 29.2%;	

      .main-info, .other-info {
        padding: 0 50px;
        width: 100%;	
        height: 350px;	
        border-radius: 2px;	
        margin-bottom: 15px;
        background-color: #FFFFFF;

        .top-section {
          border-bottom: 1px solid #F5F6FA;
          padding: 40px 0px;

          .row {
            margin: 0;
            
            .logo {
              width: 50px;
              height: 50px;
              border-radius: 50px;
              background-color: #FFB300; 
              margin-right: 25px
            }

            .name {
              font-size: 24px;
              color: #141928;
              line-height: 30px;
              padding-bottom: 6px;
            }

            .no {
              color: #A8A8AF;
              font-size: 12px;
              line-height: 14px;
              text-transform: uppercase;
              text-align: left;
              letter-spacing: 0.5px;
            }
          }
        }

        .info {
          padding-top: 40px;

        }
      }

      .other-info {
        width: 100%;	
        height: 414px;	
        border-radius: 2px;	
        background-color: #FFFFFF;
        
        .top-section {
          padding-top: 30px;

          .list-box {

            .selectpicker {

              height: 44px;	
              width: 100%;	
              border: 1px solid #F0F0F1;	
              border-radius: 2px;	
              background-color: #FFFFFF;
              margin-bottom: 30px;
              padding: 12px 0;
              padding-left: 18px;
            }
          }
        }
      }
    }

    .right-side {
      width: 1070px;
      margin-left: 30px;

      .right-item {
        margin-bottom:15px;

        .row-button {
          display: flex;
          background-color: white;
          height: 110px;
          padding: 0 50px;
          border-radius: 2px;
          font-family: 'proxima_novaregular';
          font-weight: 600;

          .fa-bars {
            width: 20px;
            height: 14px;
            letter-spacing: 5px;
            font-size: 20px;
            color: #f0f0f1;
            margin-right: 30px;
            margin-top: 45px;
          }

          .title {
            margin-top: 40px;
            font-size: 24px;
            letter-spacing: normal;
            line-height: 30px;
            color: #141928;
            flex: 1;
            text-align: left;
          }

          .fa {
            margin-top: 40px;
            font-size: 20px;
            padding-top: 5px;
            width: 30px;
            height: 30px;
            border-radius: 2px;

            &-angle-down {
              background-color: #69A9CC;
              color: white;
            }

            &-angle-up {
              background-color: #F5F6FA;
              color: #69A9CC;
            }
          }
        }
      }

      .admittance-infomation {

        .sub-detail {
          height: 300px;
          width: 1070px;
          padding: 0 50px;
          background-color: white;

          .seperator {
            height: 20px;
            border-bottom: 1px solid #f5f6fa;
          }

          .row.column {
            margin-top: 40px;
            >div {
              flex: 1;
            }
            span {
              width: 70px;
            }
          }
        }        
      }

      .demographics {

        .close-button {
          display: none;
        }
      }

      .phyiscal-theory {

        .close-button {
          display: none;
        }
      }

      .occupational-theory {

        .close-button {
          display: none;
        }
      }

      .service-provider {

        .close-button {
          display: none ;
        }
      }
    }
  }
}
