<div class="details">
  <div class="header">
    <button class="back-button"> 
      <i class="fa fa-angle-left"></i>
      <label>GO BACK</label>
    </button>
    <div class="title"> Patient Details</div>
    <button class="add-btn">
      <i class="fa fa-plus-circle"></i>
      <div>New Episode</div>
    </button>
    <button class="edit-btn">
      <i class="fa fa-pencil"></i>
      <label>Edit Details</label>
    </button>
  </div>

  <div class="main-container">
    <div class="left-side">
      <div class="main-info">
        <div class="top-section">
          <div class="row">
              <div class="logo">
                <img src="" />
              </div>
              <div>
                <div class="name">Laurie Hoffman</div>
                <div class="no">patient no. 1102</div>
              </div>
          </div>
        </div>
        <div class="info">
          <div class="row">
            <label class="field">DATE OF BIRTH</label>
            <label class="value">1995.July 5</label>
          </div>
          <div class="row">
            <label class="field">STREET ADDRESS</label>
            <label class="value">454 Abraham</label>
          </div>
          <div class="row">
            <label class="field">CITY</label>
            <label class="value">Chicago, IL</label>
          </div>
          <div class="row">
            <label class="field">ZIP CODE</label>
            <label class="value">60624</label>
          </div>
        </div>
      </div>
      <div class="other-info">
        <div class="top-section">
          <div class="list-box">

          </div>
          <div class="row">
            <div>
              <div class="name">Nathaniel Nixon, MD</div>
              <div class="no">primary physician</div>
            </div>
          </div>
        </div>
        <div class="info">
          <div class="row">
            <label class="field">PHONE NUMBER</label>
            <label class="value">1995.July 5</label>
          </div>
          <div class="row">
            <label class="field">STREET ADDRESS</label>
            <label class="value">454 Abraham</label>
          </div>
          <div class="row">
            <label class="field">CITY</label>
            <label class="value">Chicago, IL</label>
          </div>
          <div class="row">
            <label class="field">ZIP CODE</label>
            <label class="value">60624</label>
          </div>
        </div>
      </div>
    </div>
    <div class="right-side">
      <div class="right-item admittance-infomation">
        <i class="fa fa-bars"></i>
        <div class="title">Admittance Infomation</div>
        <div class="open-button">
          <i class="fa fa-angle-down"></i>
        </div>
        <div class="right-item close-button">
          <i class="fa fa-angle-up"></i>
        </div>
      </div>
      <div class="right-item demographics">
          <i class="fa fa-bars"></i>
          <div class="title">Demographics</div>
          <div class="open-button">
            <i class="fa fa-angle-down"></i>
          </div>
          <div class="right-item close-button">
            <i class="fa fa-angle-up"></i>
          </div>
      </div>
      <div class="right-item phyiscal-theory">
          <i class="fa fa-bars"></i>
          <div class="title">Physical Theory</div>
          <div class="open-button">
            <i class="fa fa-angle-down"></i>
          </div>
          <div class="right-item close-button">
            <i class="fa fa-angle-up"></i>
          </div>
      </div>
      <div class="right-item occupational-theory">
          <i class="fa fa-bars"></i>
          <div class="title">Occupational Theory</div>
          <div class="open-button">
            <i class="fa fa-angle-down"></i>
          </div>
          <div class="right-item close-button">
            <i class="fa fa-angle-up"></i>
          </div>
      </div>
      <div class="right-item service-provider">
          <i class="fa fa-bars"></i>
          <div class="title">Service Provider</div>
          <div class="open-button">
            <i class="fa fa-angle-down"></i>
          </div>
          <div class="right-item close-button">
            <i class="fa fa-angle-up"></i>
          </div>
      </div>
    </div>
  </div>
</div>